{% extends "common/index.html" %}
{% block content %}
    <!-- 借书证办理页面 -->
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <h1 class="page-head-line">借书证办理</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <form role="form" action="/student/do_add/" method="post">
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>姓名</label>
                            <input class="form-control" name="name" type="text">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>所属学院</label>
                            <select class="form-control" name="college_id">

                                {% for college in colleges %}

                                        <option value="{{ college.id }}">{{ college.name }}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>所属班级</label>
                        <select class="form-control" name="class_id">
                            {% for class_ in clases %}

                                        <option value="{{ class_.id }}">{{ class_.name }}</option>

                            {% endfor %}

                        </select>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>性别</label>
                            <input class="form-control" type="text" name="sex">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>电话</label>
                            <input class="form-control" type="text" name="telephone">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>Email</label>
                            <input class="form-control" type="text" name="email">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>已借图书总数</label>
                            <input class="form-control" type="number" name="lended_num" min="0">

                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>创建时间</label>
                            <input class="form-control" type="date" name="create_date" min="0">

                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">

                            <button type="submit"
                                    class="btn btn-info col-md-offset-11 col-sm-offset-11 col-xs-offset-11">确定
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div></div>
{% endblock content %}