{% extends "common/index.html" %}
{% block content %}
    <!-- 借书证修改页面 -->
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <h1 class="page-head-line">借书证修改</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <form role="form" action="/student/do_update/{{ student.id }}/" method="post">
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>学号</label>
                            <input class="form-control" name="id" type="text" value="{{ student.id }}" disabled>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>姓名</label>
                            <input class="form-control" name="name" type="text" value="{{ student.name }}">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>密码</label>
                            <input class="form-control" name="passwd" type="text" value="{{ student.passwd }}">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>昵称</label>
                            <input class="form-control" name="name" type="text" value="{{ student.real_name }}">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>所属学院</label>
                            <select class="form-control" name="college_id">

                                {% for college in colleges %}
                                    {% if student.sort_id == college.id%}
                                        <option value="{{ college.id }}" selected="selected">{{ college.name }}</option>
                                    {% else %}
                                        <option value="{{ college.id }}">{{ college.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>所属班级</label>
                        <select class="form-control" name="class_id">
                            {% for class_ in clases %}

                                    <option value="{{ class_id }}">{{ class_.name }}</option>

                            {% endfor %}

                        </select>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>性别</label>
                            <input class="form-control" type="text" name="sex" value="{{ student.sex }}">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>电话</label>
                            <input class="form-control" type="text" name="telephone" value="{{ student.telephone }}">
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>Email</label>
                            <input class="form-control" type="text" name="email" value="{{ student.email }}"></input>
                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>已借图书总数</label>
                            <input class="form-control" type="number" name="lended_num" min="0"
                                   value="{{ student.lended_num }}">

                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">
                            <label>创建时间</label>
                            <input class="form-control" type="date" name="create_date" min="0"
                                   value="{{ student.create_date }}">

                        </div>
                        <div class="form-group col-md-10 col-sm-10 col-xs-12">

                            <button type="submit"
                                    class="btn btn-info col-md-offset-11 col-sm-offset-11 col-xs-offset-11">确定
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div></div>
{% endblock content %}