<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>图书管理系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{{ url_for('static',filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="{{ url_for('static',filename='assets/css/basic.css') }}" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="{{ url_for('static',filename='assets/css/custom.css') }}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">北京尚学堂管理信息</a>
        </div>

        <div class="header-right">

            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i
                    class="fa fa-envelope-o fa-2x"></i></a>
            <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i
                    class="fa fa-bars fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i
                    class="fa fa-exclamation-circle fa-2x"></i></a>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="{{ url_for('static',filename='assets/img/user.png') }}" class="img-thumbnail"/>

                        <div class="inner-text">
                            Python 学院
                            <br/>
                            {% if session.get('author') == '1' %}
                            <small>老师：{{ session.get('real_name') }}</small>
                                {% else %}
                              <small>学生：{{ session.get('real_name') }}</small>
                            {% endif %}
                        </div>
                    </div>

                </li>

                {% if session.get('author') == 1 %}
                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>主页</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>图书管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('book_add') }}"><i class="fa fa-toggle-on"></i>新书入库</a>
                            </li>

                            <li>
                                <a href="{{ url_for('book_list') }}"><i class="fa fa-circle-o "></i>图书信息修改</a>
                            </li>
                            <li>
                                <a href="notification.html"><i class="fa fa-bell "></i>图书出库</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>借书证管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/student/add/"><i class="fa fa-coffee"></i>借书证办理</a>
                            </li>

                            <li>
                                <a href="/student/list/"><i class="fa fa-key "></i>读者信息修改</a>
                            </li>
                            <li>
                                <a href="/student/remove/"><i class="fa fa-flash "></i>借书证注销</a>
                            </li>
                            <li>
                                <a href="/student/loss/"><i class="fa fa-send "></i>借书证挂失</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>借书信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="/book_student/book_list/"><i class="fa fa-desktop "></i>办理借阅 </a>
                            </li>
                            <li>
                                <a href="/book_student/return_list/"><i class="fa fa-code "></i>归还图书</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ url_for('user_logout') }}"><i class="fa fa-sign-in "></i>注销登录</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>借书信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="/book_student/book_list/"><i class="fa fa-desktop "></i>办理借阅 </a>
                            </li>
                            <li>
                                <a href="/book_student/return_list/"><i class="fa fa-code "></i>归还图书</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        {% block content %}
        {% endblock content %}
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<div id="footer-sec">
    Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="#">尚学堂</a>
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{{ url_for('static',filename='assets/js/jquery-1.10.2.js') }}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{{ url_for('static',filename='assets/js/bootstrap.js') }}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{{ url_for('static',filename='assets/js/jquery.metisMenu.js') }}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script>


</body>
</html>
